body {
	background: #000;
	font-family: "Courier New";
	color: #FFF;
	font-size: 14px;
}

#game_start {
	text-align: left;
	margin-left: 175px;
}

#current_chapter, #game, #game_text-field {
	width: 700px;
}

#text-field {
	background: #000;
	font-family: "Courier New";
	color: #FFF;
	font-size: 14px;
	border: 1px solid #FFF;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#game_footer {
	position: absolute;
	margin-right: 10px;
	top: 0;
	right: 0;
	text-align: right;
}